.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scrollbar styles */
.scroller::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  height: 10px; /* height of the scrollbar */
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scrollbar thumb */
  border-radius: 10px; /* rounded corners of the scrollbar thumb */
}

.scroller::-webkit-scrollbar-track {
  background-color: #f0f0f005; /* color of the scrollbar track */
  border-radius: 10px; /* rounded corners of the scrollbar track */
}